<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Details</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
    <body id="results">
        <!-- <h1 id="details">Details!</h1> -->
        <div id='personInfo'>
            <h1>Here's the scoop:</h1><br><br>
            <h2>Id is: <strong><%= id %></strong></h2>
            <h2>First name is: <strong><%= fname %></strong></h2>
            <h2>Last name is: <strong><%= lname %></strong></h2>
            <h2>Date of birth is: <strong><%= dob %></strong></h2> 
       </div>
    </body>
</html>