<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Postal Calculator</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="/style.css" />
	</head>
	<body>
		<h1>**********made it!</h1>
		<h1>type = </h1>
		<p><strong>Type:</strong>mailType></p>
		<p><strong>Weight:</strong>weight></p>

		<!-- <script>
    app.get("/price", function(req, res) {
	// Controller
	console.log("Received a request for the postal price");
	// var name = handleSubmit();
	
	var weight = req.query.weight;
	
	console.log(weight);
	var mailType = req.query.mailType;
	console.log(mailType);
  
	console.log("The price for mailing a " + mailType + " that weighs " + weight + " ounces is yet to be determined.");
  
	  var params = {weight: weight, mailType: mailType};
  
	  res.render("pages/rates", params);
	res.end();
  })

</script> -->
	</body>
</html>
